* {
    box-sizing: border-box;
    margin: 0;
}

body {
}

.game-container{
    background-image: url("./images/pit.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    margin: 3vh;
    height: 90vh;
    width: auto;
    border: 1px solid black;
}
