@font-face {
    font-family: "harry-potter";
    src: url("./font/harry_p/HARRYP__.TTF");
  }

* {
    box-sizing: border-box;
    margin: 0;
}


body {
    display:flex;
    flex-direction: column;
    height:100vh;
}

.title-container {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-container img{
    width: 15rem;
    animation: float 4s ease-in-out infinite;
}

.game-container{
    background-image: url("./images/pit.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    flex-grow : 1;
    border: 1px solid black;
    position: relative;
}


.information-container{
    padding-top: 3rem;
    padding-bottom : 3rem;
    height: 3rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #890000;
    border: thick groove #ffa700;
}


.chronometer-container{
    position: relative;
    width: 6rem;
    height: 6rem;
}

.time-container{
    font-size: 3rem;
    font-family: "harry-potter";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 6rem;
    height: 6rem;
    border: thick groove #ffa700;
    border-radius: 3rem;
    background-color: #ffa700;
}


.start-btn{
    width : 150px;
    text-align: center;
    font-family: "harry-potter";
    height: 4rem;
    font-size: 2rem;
    padding: 0.1rem;
    border: thick groove #ffa700;
    border-radius: 0.5rem;
    background-color: #ffa700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerinfo-container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 6rem;
}

.playercard-container {
    width: 6rem;
    height: 6rem;
}

.playercard-container img {
    width: 6rem;
    border: thick groove #ffa700;
    border-radius: 3rem;
}

.result-container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    height: 15rem;
    border: thick groove #ffa700;
    border-radius: 0.5rem;
    background-color: #ffa700;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    text-align: center;
    font-family: "harry-potter";
    font-size: 2rem;
}

.result-container h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.result-container span{
    font-size: 3rem;
}

.result-container img {
    width: 4rem;
}

.highscore-container{
    margin: 1rem;
    text-align: center;
    font-family: "harry-potter";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.highscore-container span{
    font-size: 3rem;
}

.highscore-container p{
    font-size: 3rem;
}

.highscore-container img {
    width: 4rem;
}


.highscore-container h1{
    font-size: 2rem;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
        width: 20rem;
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes slidefromleft {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(18rem);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes slidefromRight {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(-18rem);
	}
	100% {
		transform: translatey(0px);
	}
}



.left-animation-container img {
    position: fixed;
    top:50vh;
    left:-20rem;
    width: 20rem;
}

.left-animation-container.animated img {
    animation: slidefromleft 4s ease-in-out ;
}

.right-animation-container img {
    position: fixed;
    top:30vh;
    right:-20rem;
    width: 20rem;
}

.right-animation-container.animated img {
    animation: slidefromRight 4s ease-in-out ;
}